###  Instalacion de wordcloud

In [28]:
pip install wordcloud

Collecting wordcloud
  Downloading wordcloud-1.8.1-cp36-cp36m-manylinux1_x86_64.whl (366 kB)
     |████████████████████████████████| 366 kB 23.5 MB/s eta 0:00:01
Requirement already satisfied: pillow in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from wordcloud) (7.2.0)
Requirement already satisfied: numpy>=1.6.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from wordcloud) (1.19.5)
Requirement already satisfied: matplotlib in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from wordcloud) (3.1.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from matplotlib->wordcloud) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from matplotlib->wordcloud) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from matplotlib->wordcloud) (2.4.7)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.15.0)
Requirement already satisfied: setuptools in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib->wordcloud) (51.1.2)
Installing collected packages: wordcloud
Successfully installed wordcloud-1.8.1
WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/python3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

###  instalacion de textblob

In [29]:
pip install textblob

Collecting textblob
  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
     |████████████████████████████████| 636 kB 27.1 MB/s eta 0:00:01
Requirement already satisfied: nltk>=3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from textblob) (3.4.5)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from nltk>=3.1->textblob) (1.15.0)
Installing collected packages: textblob
Successfully installed textblob-0.15.3
WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/python3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

###  instalacion de pymysql
pymysql es un paquete para la interacción con bases de datos MySQL escrito completamente en Python, a diferencia de su principal

In [3]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 3.4 MB/s  eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/python3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [72]:
import pymysql
import pandas as pa
import matplotlib.pyplot as plt
%matplotlib inline  
from io import StringIO  
import boto3

###  Conexion a BD

In [73]:


conn=pymysql.connect(host='greeplace.mysql.database.azure.com',port=int(3306),user='greeplace@greeplace',passwd='Casayork123',db='greeplace')

dc=a.read_sql_query("select * from datoscampo; ",conn)
dt=a.read_sql_query("select * from datostierra; ",conn)

###  Columnas de las tablas

In [74]:
dc.columns

Index(['iddatos', 'humedad', 'temperatura', 'aire', 'fecha', '_idcampo',
       '_usuario_idusuario'],
      dtype='object')

In [75]:
dt.columns

Index(['iddatostierra', 'humedadtierra', 'fecha', '_idcampo',
       '_usuario_idusuario'],
      dtype='object')

###  Quitar las columnas innecesarias

In [76]:
columns = ['_idcampo', '_usuario_idusuario']
 
datos_campo = pa.DataFrame(dc.drop(columns,axis=1,inplace=False))

In [77]:
columns = ['_idcampo', '_usuario_idusuario']
 
datos_tierra = pa.DataFrame(dt.drop(columns,axis=1,inplace=False))

###  Renombrar las columnas

In [78]:
datos_campo = datos_campo.rename(columns={'iddatos':'ID',
                        'humedad':'Humedad',
                       'temperatura':'Temperatura',
                       'aire':'Aire',
                       'fecha':'Fecha',})

In [79]:
datos_tierra = datos_tierra.rename(columns={'iddatostierra':'ID',
                        'humedadtierra':'Humedad',
                       
                       'fecha':'Fecha',})

###  Mostramos datos

In [80]:
datos_campo.head(5)

   ID  Humedad  Temperatura  Aire               Fecha
0   9     34.9         34.0  26.0 2021-01-18 08:34:24
1  10     35.7         22.0  44.0 2021-01-18 10:34:24
2  11     34.6         46.0  34.0 2021-01-18 12:34:24
3  12     35.4         43.0  54.0 2021-01-18 14:32:24
4  13     35.3         65.0  23.0 2021-01-18 16:34:24

In [81]:
datos_tierra.head(5)

   ID  Humedad               Fecha
0   1     34.9 2021-01-18 08:34:24
1   2     50.2 2021-01-18 10:34:24
2   3     50.3 2021-01-18 12:34:24
3   4     50.1 2021-01-18 14:34:24
4   5     50.4 2021-01-18 16:34:24

###  Guardamos los datos en el bucket

In [69]:
bucket = 'testutmdavidguemez' 
csv_buffer = StringIO()
datos_campo.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'datoscampo.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '6F44789D46054980',
  'HostId': 'F68kymIzaBj1Yxqne31lSAPzQUEz1dgucWmftZRbsebh44PXVjE330UWSa7VGSUHTPBy4jVh2j4=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'F68kymIzaBj1Yxqne31lSAPzQUEz1dgucWmftZRbsebh44PXVjE330UWSa7VGSUHTPBy4jVh2j4=',
   'x-amz-request-id': '6F44789D46054980',
   'date': 'Wed, 17 Feb 2021 23:52:53 GMT',
   'etag': '"3588b9e4546593a8d5e9c8fe37d45628"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"3588b9e4546593a8d5e9c8fe37d45628"'}

In [71]:
bucket = 'testutmdavidguemez' 
csv_buffer = StringIO()
datos_tierra.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'datostierra.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'E4F069CC935EEF31',
  'HostId': '9Th+JvjSovI6FUtTfrvzPV7TxH5164rRXZTMkBlPNSqY6teaqhqIVF8/0++JXWCg3FqNi2tyqCs=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '9Th+JvjSovI6FUtTfrvzPV7TxH5164rRXZTMkBlPNSqY6teaqhqIVF8/0++JXWCg3FqNi2tyqCs=',
   'x-amz-request-id': 'E4F069CC935EEF31',
   'date': 'Wed, 17 Feb 2021 23:54:57 GMT',
   'etag': '"13798850a87a48540f28470c294122cf"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"13798850a87a48540f28470c294122cf"'}